<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Car creator</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body{
            background: black;
        }
        h1{
            color: white;
            text-align: center;
        }
        form {
            color: white;
            background: black;
            text-align: center;
        }
        button {
            background: green;
        }
        select {
            background: green;
        }
        input {
            background: green;
        }
    </style>
</head>

<body>
<h1>Car creator</h1>
</br>

<form method="post" action="/cars/create">
    <input type="text" name="mark" placeholder="MARK" required/>
    </br>
    <input type="text" name="model" placeholder="MODEL" required/>
    <br/>
    <label>Types of fuel:</label>
    </br>
    <select id="fuelSelect" name="fuel" required>
        <option value="" disabled selected>select fuel</option>
        <option th:each="fuel : ${fuels}" th:text="${fuel}" th:value="${fuel}"></option>
    </select>
    </br>

    <button type="submit">Save</button>

</form>

</body>
</html>

