<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Car creator</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
<h1>Car creator</h1>
</br>

<form method="post" action="/cars/create">
    <input type="text" name="mark" placeholder="MARK" required/>
    </br>
    <input type="text" name="model" placeholder="MODEL" required/>
    <br/>
    <label>Types of fuel:</label>
    </br>
    <select id="fuelSelect" name="fuel" required onchange="populateGarages(this.id, 'garageSelect')">
        <option value="" disabled selected>select fuel</option>
        <option th:each="fuel : ${fuels}" th:text="${fuel}" th:value="${fuel}"></option>
    </select>
    </br>
    <select id="garageSelect" name="garageId" required>
        <option value="" disabled selected>Select Garage</option>

    </select>
    </br>

    <button type="submit">Save</button>

</form>

</body>
</html>

<script type="text/javascript">
    function populateGarages(fuelSelectId, garageSelectId) {      //w argumentach przekazujemy id komponentów, które będą nam potrzebne do realizacji przeładowania nauczycieli
        let fuelSelect = document.getElementById(fuelSelectId);    //ze strony zaciągamy referencję do komponentu o id fuelSelectId
        let garageSelect = document.getElementById(garageSelectId); //ze strony zaciągamy referencję do komponentu o id garageSelectId
        let url = "/garages?fuel=" + fuelSelect.value;    //budujemy url korzystając z aktualnie wybranej opcji w selectie języków
        $.getJSON(url, function (data) {    //wysyłamy zapytanie GET na adres 'url' i wykonujemy funkcję dla 'data' które jest odpowiedzią na zapytanie (tutaj lista nauczycieli)
            garageSelect.innerHTML = '<option value="" disabled selected>Select Garage</option>';   //podmiana kodu html w selectie nauczycieli
            data.forEach(garage => {                                               //funkcja forEach dla każdego nauczyciela z 'data'
                // <option value="1">Jan Kowalski</option>
                let option = '<option value="' + garage.id + '">' + garage.adress + ' ' + garage.capacity + '</option>';   //budujemy option jak w przykładzie linijkę wyżej
                garageSelect.innerHTML += option;        //dodajemy stworzony option do selecta nauczycieli
            })
        });
    }
</script>